/*
Darío Cristóbal González UO294401
*/
/*Especificidad: 001*/
body {
    background-color: #ffffff; 
    color: #000000; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
/*Especificidad: 001*/
header {
    color: #f9d135; 
    background-color: #b00000; 
}
/*Especificidad: 002*/
header a{
  color: #f9d135;
  text-decoration: none;
}
/*Especificidad: 002*/
header p{
  color: #f9d135;
  text-decoration: none;
  font-size: 12px
}

/*Especificidad: 001*/
h1 {
  color: #FFF675B4;    
  text-transform: uppercase;
}
/*Especificidad: 021*/
a[href^="https"]:link {
  color: #0011ff;
}
/*Especificidad: 021*/
a[href^="https"]:visited {
  color: #6505e2c9;
}
/*Especificidad: 021*/
a[href^="https"]:focus {
  border-bottom: 1px solid;
  background: #bae498;
}
/*Especificidad: 021*/
a[href^="https"]:hover {
  border-bottom: 1px solid;
  background: #cdfeaa;
}
/*Especificidad: 021*/
a[href^="https"]:active {
  background: #265301;
  color: #cdfeaa;
}
/*Especificidad: 001*/
ul {
  list-style-type: square; 
  padding-left: 20px; 
  font-size: 1rem; 
}
/*Especificidad: 002*/
ul li {
  color: #333;
  margin-bottom: 10px; 
}
/*Especificidad: 001*/
ol {
  padding-left: 20px;
  font-size: 1rem;
}
/*Especificidad: 002*/
ol li {
  color: #333;
  margin-bottom: 10px;
}
/*Especificidad: 002*/
ul ul, ol ul, ul ol, ol ol {
  list-style-type: circle; 
  font-size: 1rem; 
  margin-left: 10px; 
}
/*Especificidad: 003*/
ul ul li, ol ul li, ul ol li, ol ol li {
  color: #333; 
  margin-bottom: 5px; 
}
/*Especificidad: 001*/
dl {
  border: 1px solid #ddd;    
  padding: 15px;             
       
}
/*Especificidad: 001*/
dt {
  font-weight: bold;         
  color: #f9d135;            
  background-color: #b00000; 
  padding: 5px;              
  margin-top: 10px;          
  font-size: 1.2rem;         
}
/*Especificidad: 001*/
dd {
  margin-left: 10px;         
  font-size: 1rem;          
  color: #333;               
  padding: 5px 10px;         
}

/*Especificidad: 001*/
table { 
  margin: 20px 0; 
  font-size: 1rem;
  width: 100%; 
  max-width: 100%;
}

/*Especificidad: 001*/
th {
  background-color: #b00000; 
  color: #f9d135;              
  padding: 10px;             
  text-align: center;          
  font-weight: bold;
}

/*Especificidad: 001*/
td {
  padding: 10px;             
  border: 1px solid white; 
  color: #333;    
  text-align: center;    
  background-color: #f2f2f2;        
}
/*Especificidad: 001*/
video {
  width: 100%;       
  height: auto;      
  max-width: 100%;   
}
/*Especificidad: 001*/
img {
  width: 100%;       
  height: auto;      
  max-width: 100%;   
}

